<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Recommandation Hybride Multicritères</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="./static/css2/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href ="/static/css2/radio.css">
</head>

<body >
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">SA-MCNCF</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{url_for('index')}}">Recommandation </a></li>

         <li><a href="{{url_for('predict')}}">Prédiction (ID)</a></li>
        <li><a href="{{url_for('csv')}}">Prédiction (Fichier CSV)</a></li>
        <li><a href="{{url_for('sentiment_simple')}}">SA</a></li>
        <li><a href="{{url_for('sentiment_MA')}}">SA-MA</a></li>

      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>

      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>


  <div class="section no-pad-bot" id="index-banner">
    <div class="container">

      <h1 class="header center orange-text">Recommandation Hybride Multicritère </h1>
      <div class="row center">
        <h6 class="header col s12 light">
        <br>
        </h6>
      </div>











              <div class="center" style="margin-top:50px;">
                <legend>Saisissez un commentaire :</legend>
<form action='' method="post" class="col s12">
      <div class="center">
        <div class="input-field "  width="48" height="48">
            <label for="first_name"><b></b></label>
            <br>
          <input placeholder="Comment" name="Comment" id="first_name" type="text" class="validate"  width="48" height="408">
        </div>




  </div>
      <div class="input-field col s6 " >






      <div class="row center">

          <button type="submit" class="btn-large waves-effect waves-light orange" style="height:70px;width:400px ;font-size : 17px; border-radius: 100px; line-height: 20px;">Analyser le commentaire</button>
      </div>


      <br>
    <br>
      <legend>
    {{message}}
      <br><br>
        {{comment}}
    <br>
      </legend>



      </div>
  </form>


    </div>
  </div>


    <br><br>
  </div>
  </div>>




  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src=".js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>

